{% extends "account/base_site.html" %}
{% load i18n static %}
{% load sass_tags %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% sass_src 'admin/css/account-inactive.scss' %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }}login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

<div class="prow">
    <p>{% trans 'This account is inactive.' %}</p>
</div>

</div>
{% endblock %}
