{% extends "account/base_site.html" %}
{% load i18n static %}
{% load sass_tags %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% sass_src 'admin/css/signup.scss' %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">

    {% if user.emailaddress_set.all %}
    <p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

<form action="{% url 'account_email' %}" method="post" id="login-form">{% csrf_token %}
    <div class="form-row">
        {% for emailaddress in user.emailaddress_set.all %}
            <div class="ctrlHolder form-group">
                <label for="email_radio_{{ forloop.counter }}"
                       class="email {% if emailaddress.primary %}primary_email{% endif %}">

                        <input id="email_radio_{{ forloop.counter }}" type="radio" name="email"
                               {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{% endif %}
                               value="{{ emailaddress.email }}"/>

                            {{ emailaddress.email }}
                            {% if emailaddress.verified %}
                                <span class="label label-success verified">{% trans "Verified" %}</span>
                            {% else %}
                                <span class="label label-danger unverified">{% trans "Unverified" %}</span>
                            {% endif %}
                            {% if emailaddress.primary %}<span class="label label-info primary">{% trans "Primary" %}</span>{% endif %}
                        </label>
                    </div>
                {% endfor %}
              <div class="submit-row">
                  <label>&nbsp;</label><input type="submit" value="{% trans 'Make Primary' %}" name="action_primary">
                  <label>&nbsp;</label><input type="submit" value="{% trans 'Re-send Verification' %}" name="action_send">
                  <label>&nbsp;</label><input type="submit" value="{% trans 'Remove' %}" name="action_remove">

              </div>
  </div>
</form>

    {% else %}
        <p>
            <strong>{% trans 'Warning:' %}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
        </p>

    {% endif %}

    <hr>

    <h3>{% trans "Add email address" %}</h3>
    <form method="post" action="{% url 'account_email' %}" >
        {% csrf_token %}
      <div class="submit-row">
          <div class="form-row">
            {{ form.email.errors }}
            {{ form.email.label_tag }} {{ form.email }}
        </div>
        <label>&nbsp;</label><input type="submit" name="action_add" value="{% trans 'Add Email' %}">
      </div>
    </form>
</div>

{% block extra_body %}
    <script type="text/javascript">
      (function () {
        var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
        var actions = document.getElementsByName('action_remove');
        if (actions.length) {
          actions[0].addEventListener("click", function (e) {
            if (!confirm(message)) {
              e.preventDefault();
            }
          });
        }
      })();
    </script>
{% endblock %}
{% endblock %}
