{% extends "account/base_site.html" %}
{% load i18n static %}
{% load sass_tags %}
{% load account %}


{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% sass_src 'admin/css/password-reset-done.scss' %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}


<div id="content-main">

    {% if user.is_authenticated %}
    {% include "account/parts/already_logged_in.html" %}
    {% endif %}

    <p>{% trans 'We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.'  %}</p>

</div>
{% endblock %}
