{% extends "dashboard/base_site.html" %}
{% load i18n admin_static jet_dashboard_tags static %}

{% block html %}{% get_dashboard 'index' as dashboard %}{{ block.super }}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" />

    {% for css in dashboard.media.css %}
        <link href="{% static css %}" rel="stylesheet" />
    {% endfor %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}

    {% for js in dashboard.media.js %}
        <script src="{% static js %}"></script>
    {% endfor %}
{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard jet{% endblock %}


{% block breadcrumbs %}
    {% if not is_popup %}
        <div class="breadcrumbs"></div>
    {% endif %}

{% endblock %}

{% block content %}

<div class="dashboard-container columns_3 cf">

        <div class="dashboard-column-wrapper">
            <div class="dashboard-column first">




<div class="dashboard-item" data-module-id="1">
    <div class="dashboard-item-header">


        <span class="dashboard-item-header-title">



                Quick links

        </span>
        <div class="cf"></div>
    </div>

    <div class="dashboard-item-content">






        <div class="padding center">
            <ul class="inline">

                    <li>
                        <a href="/" class="nowrap">Return to site</a>
                    </li>

                    <li>
                        <a href="{% url 'account_change_password' %}" class="nowrap">Change password</a>
                    </li>

                    <li>
                        <a href="{% url 'account_logout' %}" class="nowrap">Log out</a>
                    </li>

            </ul>
        </div>





    </div>
</div>






<div class="dashboard-item collapsible deletable draggable" data-module-id="4">
    <div class="dashboard-item-header">

            <span class="dashboard-item-header-drag icon-grid"></span>

        <span class="dashboard-item-header-title">

                <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-down"></span></a>
                <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-up"></span></a>



                BROKER KEY

        </span>
        <div class="cf"></div>
    </div>

    <div class="dashboard-item-content">


<ul>

        <li>
            {{ broker_key }}
        </li>

</ul>


    </div>
</div>

            </div>
        </div>

        <div class="dashboard-column-wrapper">
            <div class="dashboard-column">


<div class="dashboard-item collapsible deletable draggable" data-module-id="2">
    <div class="dashboard-item-header">

            <span class="dashboard-item-header-drag icon-grid"></span>


        <span class="dashboard-item-header-title">

                <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-down"></span></a>
                <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-up"></span></a>

                Applications

        </span>
        <div class="cf"></div>
    </div>

    <div class="dashboard-item-content">




<ul>

        <li class="contrast">

                <a href="{% url 'HL7-Broker' %}" title="Models in the HL7-Broker">HL7-Broker</a>
        </li>

            <li>
                    <a href="{% url 'logs' %}">Logs</a>
            </li>

</ul>



    </div>
</div>






            </div>
        </div>

        <div class="dashboard-column-wrapper">
            <div class="dashboard-column">












<div class="dashboard-item collapsible deletable draggable" data-module-id="3">
    <div class="dashboard-item-header">

            <span class="dashboard-item-header-drag icon-grid"></span>

        <span class="dashboard-item-header-title">

                <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-down"></span></a>
                <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-up"></span></a>



                Subscription

        </span>
        <div class="cf"></div>
    </div>

    <div class="dashboard-item-content">




<ul>

        <li class="contrast">

                <a title="Subscription">Plan</a>

        </li>

            <li>
                    <a>{{ plan_name }}</a>

            </li>
        <li class="contrast">

                <a title="Price Per Request">Price Per Request</a>

        </li>

            <li>
                    <a>{{ plan_price }}</a>

            </li>
            <li class="contrast">

                <a title="Remaining Requests">Remaining Requests</a>

        </li>

            <li>
                    <a>{{ remaining_calls }}</a>

            </li>
        {% if plane_name == Unsubscribed %}
                <li class="contrast">

                <a title="Cancel Subscription">Cancel Subscription</a>

        </li>

            <li>
                    <a href="{% url 'client_cancel_subscription' %}" title="Cancel" >Cancel</a>
            </li>
        {% else %}
                <li class="contrast">

                <a title="ReSubscribe">ReSubscribe</a>

        </li>

            <li>
                    <a href="{% url 'selectMemberShip' %}" title="subscribe" >Subscribe</a>
            </li>
        {% endif %}

</ul>



    </div>
</div>








            </div>
        </div>

</div>


{% endblock %}
