@charset "UTF-8";
/*
 * Default variable values
 * Create separate themes/theme/_variables.scss to override these variables
 */
/*
 * General
 */
/*
 * Sidebar
 */
/*
 * Top
 */
/*
 * Content
 */
/*
 * Buttons
 */
/*
 * Inputs
 */
/*
 * Messages
 */
/*
 * Login
 */
/*
 * jQuery UI
 */
/*
 * Charts
 */
.hidden {
  display: none; }

.clear-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.p10 {
  padding: 10px; }

.p20 {
  padding: 20px; }

.p30 {
  padding: 30px; }

.p40 {
  padding: 40px; }

.p50 {
  padding: 50px; }

.p60 {
  padding: 60px; }

.p70 {
  padding: 70px; }

.p80 {
  padding: 80px; }

.pt10 {
  padding-top: 10px; }

.pt20 {
  padding-top: 20px; }

.pt30 {
  padding-top: 30px; }

.pt40 {
  padding-top: 40px; }

.pt50 {
  padding-top: 50px; }

.pt60 {
  padding-top: 60px; }

.pt70 {
  padding-top: 70px; }

.pt80 {
  padding-top: 80px; }

.pr10 {
  padding-right: 10px; }

.pr20 {
  padding-right: 20px; }

.pr30 {
  padding-right: 30px; }

.pr40 {
  padding-right: 40px; }

.pr50 {
  padding-right: 50px; }

.pr60 {
  padding-right: 60px; }

.pr70 {
  padding-right: 70px; }

.pr80 {
  padding-right: 80px; }

.pb10 {
  padding-bottom: 10px; }

.pb20 {
  padding-bottom: 20px; }

.pb30 {
  padding-bottom: 30px; }

.pb40 {
  padding-bottom: 40px; }

.pb50 {
  padding-bottom: 50px; }

.pb60 {
  padding-bottom: 60px; }

.pb70 {
  padding-bottom: 70px; }

.pb80 {
  padding-bottom: 80px; }

.pl10 {
  padding-left: 10px; }

.pl20 {
  padding-left: 20px; }

.pl30 {
  padding-left: 30px; }

.pl40 {
  padding-left: 40px; }

.pl50 {
  padding-left: 50px; }

.pl60 {
  padding-left: 60px; }

.pl70 {
  padding-left: 70px; }

.pl80 {
  padding-left: 80px; }

.m10 {
  margin: 10px; }

.m20 {
  margin: 20px; }

.m30 {
  margin: 30px; }

.m40 {
  margin: 40px; }

.m50 {
  margin: 50px; }

.m60 {
  margin: 60px; }

.m70 {
  margin: 70px; }

.m80 {
  margin: 80px; }

.mt10 {
  margin-top: 10px; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 30px; }

.mt40 {
  margin-top: 40px; }

.mt50 {
  margin-top: 50px; }

.mt60 {
  margin-top: 60px; }

.mt70 {
  margin-top: 70px; }

.mt80 {
  margin-top: 80px; }

.mr10 {
  margin-right: 10px; }

.mr20 {
  margin-right: 20px; }

.mr30 {
  margin-right: 30px; }

.mr40 {
  margin-right: 40px; }

.mr50 {
  margin-right: 50px; }

.mr60 {
  margin-right: 60px; }

.mr70 {
  margin-right: 70px; }

.mr80 {
  margin-right: 80px; }

.mb10 {
  margin-bottom: 10px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

.mb40 {
  margin-bottom: 40px; }

.mb50 {
  margin-bottom: 50px; }

.mb60 {
  margin-bottom: 60px; }

.mb70 {
  margin-bottom: 70px; }

.mb80 {
  margin-bottom: 80px; }

.ml10 {
  margin-left: 10px; }

.ml20 {
  margin-left: 20px; }

.ml30 {
  margin-left: 30px; }

.ml40 {
  margin-left: 40px; }

.ml50 {
  margin-left: 50px; }

.ml60 {
  margin-left: 60px; }

.ml70 {
  margin-left: 70px; }

.ml80 {
  margin-left: 80px; }

.pos_rel {
  position: relative; }

.pos_abs {
  position: absolute; }

.fill_width {
  width: 100% !important; }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

/* HEADER */
#branding {
  display: none;
  background-color: #2b3647;
  color: #6f7e95;
  padding: 14px 32px 14px 36px;
  text-align: center;
  position: relative;
  height: auto !important;
  min-height: 52px;
  box-sizing: border-box; }
  @media only screen and (max-width: 960px) {
    #branding {
      min-height: 0; } }
  #branding.initialized {
    display: block; }
  #branding:empty {
    display: none; }
  #branding:before, #branding:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  #branding h1, #branding h2 {
    display: inline-block;
    padding: 0 10px;
    margin: 0;
    text-transform: uppercase;
    font-size: 11px;
    vertical-align: middle; }
  #branding a, #branding a:visited, #branding a:hover {
    color: #6f7e95; }
  #branding a:hover {
    color: #639af5; }
  #branding-pin {
    position: absolute;
    top: 50%;
    right: 4px;
    margin-top: -11px;
    display: inline-block;
    font-size: 22px;
    cursor: pointer;
    transition: transform 0.3s;
    transform: rotate(-45deg); }
    body.menu-pinned #branding-pin {
      transform: rotate(45deg); }
    #branding-pin:hover {
      color: #fff; }
    @media only screen and (max-width: 960px) {
      #branding-pin {
        display: none; } }
  #branding-menu {
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -8px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer; }
    #branding-menu:hover {
      color: #fff; }
    @media only screen and (max-width: 960px) {
      #branding-menu {
        display: none; } }

#user-tools {
  display: none; }
  #user-tools.initialized {
    display: block; }

.user-tools ul {
  position: absolute;
  top: 11px;
  right: 20px;
  border: 1px solid #c0d4e8;
  border-radius: 4px;
  font-size: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  width: 175px;
  z-index: 4; }
  @media only screen and (max-width: 960px) {
    .user-tools ul {
      position: fixed;
      top: 0;
      right: 0;
      width: auto;
      max-width: 200px;
      color: #c0cad8;
      border: 0;
      border-left: 1px solid #2b3647;
      border-radius: 0;
      transform: none;
      transition: transform 0.3s; }
      body.scroll-to-bottom .user-tools ul {
        transform: translate3d(0, -100%, 0); }
      .user-tools ul.sidebar-opened {
        transform: translate3d(100%, 0, 0); } }
  .user-tools ul.opened {
    background-color: #6f7e95;
    border-color: transparent;
    color: #ecf2f6; }
    @media only screen and (max-width: 960px) {
      .user-tools ul.opened {
        border-radius: 0 0 0 4px;
        border: 0; } }
  .user-tools ul li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .user-tools ul li.user-tools-welcome-msg {
    font-weight: bold;
    padding: 0 10px 0 14px;
    line-height: 30px; }
    @media only screen and (max-width: 960px) {
      .user-tools ul li.user-tools-welcome-msg {
        padding-left: 18px;
        line-height: 44px; } }
    .user-tools ul li.user-tools-welcome-msg:before {
      font-family: 'jet-icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: inline-block;
      content: "";
      font-weight: normal;
      float: right;
      color: #47bac1;
      font-size: 24px;
      vertical-align: middle;
      line-height: 30px;
      transition: color 0.3s;
      margin-left: 5px; }
      @media only screen and (max-width: 960px) {
        .user-tools ul li.user-tools-welcome-msg:before {
          line-height: 44px;
          font-size: 20px;
          font-weight: bold; } }
  .user-tools ul.opened .user-tools-welcome-msg {
    border-bottom: 1px solid #76849a; }
    .user-tools ul.opened .user-tools-welcome-msg:before {
      color: #ecf2f6;
      transform: rotate(180deg); }
  .user-tools ul li.user-tools-link {
    display: none; }
    .user-tools ul li.user-tools-link a, .user-tools ul li.user-tools-link a:visited, .user-tools ul li.user-tools-link a:hover {
      display: block;
      line-height: 30px;
      padding: 0 14px;
      color: #ecf2f6;
      text-decoration: none; }
      @media only screen and (max-width: 960px) {
        .user-tools ul li.user-tools-link a, .user-tools ul li.user-tools-link a:visited, .user-tools ul li.user-tools-link a:hover {
          line-height: 44px; } }
    .user-tools ul li.user-tools-link a:hover {
      color: #ecf2f6;
      text-decoration: underline; }
  .user-tools ul.opened li.user-tools-link {
    display: block; }
  .user-tools ul li.user-tools-contrast-block {
    display: none;
    padding: 8px 14px;
    background: #59677e;
    color: #c0cad8;
    white-space: normal; }
  .user-tools ul.opened li.user-tools-contrast-block {
    display: block; }

.user-tools-contrast-block-title {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 6px; }

.user-tools-theme-link {
  display: inline-block;
  margin: 0 5px 5px 0;
  width: 14px;
  height: 14px;
  border: 1px solid #59677e;
  border-radius: 3px; }
  @media only screen and (max-width: 960px) {
    .user-tools-theme-link {
      width: 24px;
      height: 24px;
      margin: 0 8px 8px 0; } }
  .user-tools-theme-link:last-child {
    margin-right: 0; }
  .user-tools-theme-link.selected {
    box-shadow: 0 0 1px 1px #e5e2a5; }

.theme-chooser {
  display: none; }
  .theme-chooser.initialized {
    display: block; }
