/*
 * Default variable values
 * Create separate themes/theme/_variables.scss to override these variables
 */
/*
 * General
 */
/*
 * Sidebar
 */
/*
 * Top
 */
/*
 * Content
 */
/*
 * Buttons
 */
/*
 * Inputs
 */
/*
 * Messages
 */
/*
 * Login
 */
/*
 * jQuery UI
 */
/*
 * Charts
 */
.hidden {
  display: none; }

.clear-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.p10 {
  padding: 10px; }

.p20 {
  padding: 20px; }

.p30 {
  padding: 30px; }

.p40 {
  padding: 40px; }

.p50 {
  padding: 50px; }

.p60 {
  padding: 60px; }

.p70 {
  padding: 70px; }

.p80 {
  padding: 80px; }

.pt10 {
  padding-top: 10px; }

.pt20 {
  padding-top: 20px; }

.pt30 {
  padding-top: 30px; }

.pt40 {
  padding-top: 40px; }

.pt50 {
  padding-top: 50px; }

.pt60 {
  padding-top: 60px; }

.pt70 {
  padding-top: 70px; }

.pt80 {
  padding-top: 80px; }

.pr10 {
  padding-right: 10px; }

.pr20 {
  padding-right: 20px; }

.pr30 {
  padding-right: 30px; }

.pr40 {
  padding-right: 40px; }

.pr50 {
  padding-right: 50px; }

.pr60 {
  padding-right: 60px; }

.pr70 {
  padding-right: 70px; }

.pr80 {
  padding-right: 80px; }

.pb10 {
  padding-bottom: 10px; }

.pb20 {
  padding-bottom: 20px; }

.pb30 {
  padding-bottom: 30px; }

.pb40 {
  padding-bottom: 40px; }

.pb50 {
  padding-bottom: 50px; }

.pb60 {
  padding-bottom: 60px; }

.pb70 {
  padding-bottom: 70px; }

.pb80 {
  padding-bottom: 80px; }

.pl10 {
  padding-left: 10px; }

.pl20 {
  padding-left: 20px; }

.pl30 {
  padding-left: 30px; }

.pl40 {
  padding-left: 40px; }

.pl50 {
  padding-left: 50px; }

.pl60 {
  padding-left: 60px; }

.pl70 {
  padding-left: 70px; }

.pl80 {
  padding-left: 80px; }

.m10 {
  margin: 10px; }

.m20 {
  margin: 20px; }

.m30 {
  margin: 30px; }

.m40 {
  margin: 40px; }

.m50 {
  margin: 50px; }

.m60 {
  margin: 60px; }

.m70 {
  margin: 70px; }

.m80 {
  margin: 80px; }

.mt10 {
  margin-top: 10px; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 30px; }

.mt40 {
  margin-top: 40px; }

.mt50 {
  margin-top: 50px; }

.mt60 {
  margin-top: 60px; }

.mt70 {
  margin-top: 70px; }

.mt80 {
  margin-top: 80px; }

.mr10 {
  margin-right: 10px; }

.mr20 {
  margin-right: 20px; }

.mr30 {
  margin-right: 30px; }

.mr40 {
  margin-right: 40px; }

.mr50 {
  margin-right: 50px; }

.mr60 {
  margin-right: 60px; }

.mr70 {
  margin-right: 70px; }

.mr80 {
  margin-right: 80px; }

.mb10 {
  margin-bottom: 10px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

.mb40 {
  margin-bottom: 40px; }

.mb50 {
  margin-bottom: 50px; }

.mb60 {
  margin-bottom: 60px; }

.mb70 {
  margin-bottom: 70px; }

.mb80 {
  margin-bottom: 80px; }

.ml10 {
  margin-left: 10px; }

.ml20 {
  margin-left: 20px; }

.ml30 {
  margin-left: 30px; }

.ml40 {
  margin-left: 40px; }

.ml50 {
  margin-left: 50px; }

.ml60 {
  margin-left: 60px; }

.ml70 {
  margin-left: 70px; }

.ml80 {
  margin-left: 80px; }

.pos_rel {
  position: relative; }

.pos_abs {
  position: absolute; }

.fill_width {
  width: 100% !important; }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

/* POPUP */
.related-popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  padding-left: 250px;
  box-sizing: border-box;
  display: none;
  background: #ecf2f6;
  background-clip: content-box;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll; }
  @media only screen and (max-width: 960px) {
    .related-popup {
      padding-left: 0; } }
  .related-popup iframe {
    border: 0;
    width: 100%;
    height: 100%; }
  .related-popup-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 15; }
    .related-popup-container .loading-indicator {
      display: none;
      font-size: 96px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -48px;
      margin-top: -48px;
      animation: spin 4s linear infinite; }
  .related-popup-back, .related-popup-back:visited, .related-popup-back:hover {
    display: none;
    background: #59677e;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 250px;
    z-index: 5;
    width: 100px;
    padding: 14px 6px 14px 0;
    text-align: center;
    margin-left: -100px;
    box-sizing: border-box;
    text-transform: uppercase;
    border-radius: 6px 0 0 6px;
    transition: background-color 0.3s, color 0.3s; }
    @media only screen and (max-width: 960px) {
      .related-popup-back, .related-popup-back:visited, .related-popup-back:hover {
        margin-left: 0;
        top: auto;
        bottom: 10px;
        left: 10px;
        width: auto;
        padding: 10px;
        border-radius: 6px; } }
  .related-popup-back:hover, .related-popup-back:focus {
    background: #ecf2f6;
    color: #6f7e95; }
    @media only screen and (max-width: 960px) {
      .related-popup-back:hover, .related-popup-back:focus {
        background: #639af5;
        color: #fff; } }
  .related-popup-back-icon {
    vertical-align: middle;
    font-weight: bold;
    font-size: 18px; }
  @media only screen and (max-width: 960px) {
    .related-popup-back-label {
      display: none; } }
